# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/target/
ib
pop
rnd
ub
ub

ub

ub_simPC

ib

ib

pop

rnd

ib_MyNeighbour

ib_MyNeighbour

ub

ub_jaccard

ub_MN_jaccard

ub_jaccard

ub

ub_MN_pearson_all

ub_MN_pearson_com

ub_MyNeighbour

ub_pearson_all

ub_pearson_com

ub_simth

ub2
